<% provide(:title, "Log in") %>

<div class='content'>
  <div class='h3'>Log in</div>

  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "Submit" %>
  <% end %>

  <p>New here? <%= link_to "Sign up now!", signup_path %></p>
</div>